# JavaScript
node_modules

# Nix
.direnv
result

# Future Blogpost
heneli-dot-dev/data/blog/fearless-functional-future.mdx
heneli-dot-dev/data/blog/fearless-tinkering-haskell.mdx
heneli-dot-dev/data/blog/fearless-tinkering-is-algebraic.mdx