.note {
    color: var(--gray-9);
    font-size: smaller;
    line-height: calc(1em + (1 / 0.8 * 1ex));
    padding-inline: calc(1 / 0.8 * (1em + 1ex));
    margin-block: calc(1 / 0.8 * (1em + 1ex));
    position: relative;
    z-index: 0;
    inset: 0;
    mask-image: paint(squircle);
    --squircle-radius: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
  
    /* Actually the border color: */
    background-color: var(--purple-5);
  }
  
  .note::after {
    content: '';
    position: absolute;
    mask-image: paint(squircle);
    z-index: -1;
    background-color: hsl(9deg 64% 8%);
    inset: 0;
    --squircle-radius: 9px;
    border-radius: 9px;
  
    background-color: var(--purple-0);
  }
  
  .legacy {
    background-color: var(--gray-5);
  }
  
  .legacy::after {
    background-color: var(--gray-0);
  }
  
  .important {
    background-color: var(--red-5);
  }
  
  .important::after {
    background-color: var(--red-0);
  }